{% extends "base.html" %}

{% block title %}Используемые технологии{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="card my-2">
    <h1 class="card-header display-6">Используемые технологии</h1>
    <div class="card-body">
      <h3>Фронтенд</h3>
      <ul>
        <li><strong>HTML:</strong> Использовался для создания структуры и разметки веб-страниц.</li>
        <li><strong>CSS:</strong> Применялся для стилизации и внешнего оформления веб-страниц.</li>
        <li><strong>Bootstrap:</strong> Использовался для создания отзывчивого и стилизованного дизайна веб-страниц.</li>
      </ul>
      <h3>Бэкенд</h3>
      <ul>
        <li><strong>Python:</strong> Использовался для разработки бэкенд-части проекта.</li>
        <li><strong>Django:</strong> Применялся в качестве веб-фреймворка для разработки веб-приложения.</li>
      </ul>
      <h3>Инструменты разработчика</h3>
      <ul>
        <li><strong>Git/GitHub:</strong> Применялся для управления версиями кода и совместной работы над проектом.</li>
        <li><strong>VS Code:</strong> Использовался в качестве основной интегрированной среды разработки (IDE).</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
